/* General Styles for all Waybar elements */
* {
    border: none;
    border-radius: 0;
    font-family: Liberation Mono;
    min-height: 20px;
}

/* General styling for modules */
.module {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* Workspaces */
#workspaces {
margin-right: 8px;
border-radius: 10px;
transition: none;
background: #383c4a;
}

#workspaces button {
transition: none;
color: #7c818c;
background: transparent;
padding: 5px;
font-size: 18px;
}

#workspaces button.persistent {
color: #7c818c;
font-size: 12px;
}

/* Remove strange hover effects on workspace buttons */
#workspaces button:hover {
transition: none;
box-shadow: inherit;
text-shadow: inherit;
border-radius: inherit;
color: #383c4a;
background: #7c818c;
}

#workspaces button.focused {
color: white;
}

/* Modules with unique styles */
#cpu,
#keyboard-state,
#language,
#custom-pacman,
#custom-mem,
#temperature,
#backlight,
#battery,
#pulseaudio,
#tray,
#clock {
margin-right: 8px;
padding-left: 16px;
padding-right: 16px;
border-radius: 10px;
transition: none;
color: #ffffff;
background: #383c4a;
}

/* Specific Module Adjustments */
#keyboard-state {
padding-right: 16px;
border-radius: 0px 10px 10px 0px;
}

#language {
border-radius: 10px 0px 0px 10px;
padding-right: 8px;
}

#pulseaudio.muted {
background-color: #90b1b1;
color: #2a5c45;
}

#battery.charging {
background-color: #26A65B;
color: #ffffff;
}

#battery.warning:not(.charging) {
background-color: #ffbe61;
color: black;
}

#battery.critical:not(.charging) {
background-color: #f53c3c;
color: #ffffff;
animation-name: blink;
animation-duration: 0.5s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Remove individual module settings if not used */
